.signup-title {
    font-size: 24px;
    text-align: center;

}
.signup-form {
    display: flex;
    justify-content: center;
}

.user-input {
    display: flex;
    flex-direction: column;
}

input {
    padding: 3px 10px;
    margin: 5px 0;
}


.login {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 24px;
    
}
.login:hover {
    color:rgb(121, 161, 196);
}

.signup-title {
    font-size: 42px;
}