/* .user_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px;
    
}
.each_student{
    border: solid 1px rgb(237, 226, 237);
    border-radius: 12px;
    margin: 5px;
    height: 100px;
    width: 300px;
    box-shadow: 2px 2px 2px rgb(237, 226, 237);    
}
.each_student:hover {
    box-shadow: 9px 5px 2px rgb(237, 226, 237);
}
.center_only {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.center:hover {
    border: solid 1px purple;
    border-radius: 25px;
    background-color: purple;
    margin: 5px;
} */